#selfImage
{
    width: 200px;
    height: 200px;
}

.container
{
    width: 960px;
    background-color: #ffffff;
    margin-top: 20px;
}

.navBar
{
    background-color: #ffffff;
    border-bottom: 2px groove #777777;
    position: relative;
    padding-top: 5px;
}

h2
{
    background-color: #4aaaa5;
    color: #ffffff;
    /* padding-top: 20px; */
    text-align: center;
    height: 100%;
}

p
{
    padding: 10px 0px;
}

.placeHolderImage
{
    height: 200px;
    width: 100%;
}

.portfolioCaption
{
    position: relative;
    top: -60px;
    background-color: rebeccapurple;
    text-align: center;
}